/* HEADER */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0 0 0 0;
    padding: 0;

}

.wrapper {

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    height: 75px;
    z-index: 100;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;

}
.header__logo {
    padding-top: 22.5px ;
    margin-left: 117px;
}

.header__tabs__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    line-height: 50px;
    position: absolute;
    right: 0;
    margin-right: 170px;
    
}

.header__tabs__list__item {
    width: 114px;
    height: 75px;
}

.header__tabs__item__link {
    color: white;
    text-decoration: none;
}

/* HEADER */

/* MAIN PAGE */

/* Left piece */

.welcome {

    height: 951px;
    background: url(./img/bg.png) no-repeat center;
    background-size: cover;
    padding-top: 306px;
    padding-left: 170px;
    color: white;

}

.welcome__logo {
    position: relative;
    z-index: 2;
    margin-bottom: 73px;
}

.welcome__title {
    max-width: 670px;
    height: 168px;
    position: relative;
    z-index: 2;
    font-family: "raleway";
    font-weight: 500;
    font-size: 48px;
    margin-bottom:55px ;
}

.welcome__line  {
    border: 1px solid;
    width: 170px;
    margin-bottom: 42px;
    position: relative;
    z-index: 2;
}

.welcome__discription {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    width: 270px;
    z-index: 2;
    position: relative;
    margin-bottom: 42px;
}

.welcome__download {
    display: flex;
    position: relative;
    border: 2px solid white;
    z-index: 2;
    width: 270px;
    height: 58px;
    background: transparent;
    font-family: "open sans";
    font-weight: 600;
    font-size: 18px;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

/* Left piece */

/* Container */

.welcome__container {
    position: absolute;
    z-index: 2;
    width: 470px;
    height: 450px;
    border-radius: 10px;
    background: white;
    right: 0%;
    top: 0%;
    margin-right: 170px;
    margin-top: 283px;
}

.welcome__container__title {
    z-index: 2;
    color: black;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    height: 90px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    margin-left: 53px;
    margin-bottom: 45px;
}

.welcome__container__title-orange {
    color: #EC7979;
}

.welcome__container__discription {
    margin-left: 50px;
    color: #BDBDBD;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;

}

.welcome__container__discription-item {
    margin-bottom: 16px;
}

.welcome__container__discription-line {
    border: 1px solid #BDBDBD;
    margin-bottom: 33px;
    width: 370px;
}

.welcome__container__footer {
    position: relative;
    width: 470px;
    height: 60px;
    background:#EC7979 ;
    margin-left: -50px;
    border-color:#EC7979 ;
    border-radius: 0px 0px 10px 10px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    margin-top: 87px;
    justify-content: center;
}

/* Container */


/* Header footer */

.header__footer {
    width: 100%;
    height: 140px;
    background: #F8EFEF;
    display: flex;
    justify-content: space-between;
}

.header__footer__text-title {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    display: flex; 
    align-items: center;
    height: 60px;
    margin-bottom: 18px;
    color: #333333;
    margin-left: 170px;
}

.header__footer__text-discription {
    width: 470px;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #86878B;
    margin-left: 170px;
    margin-bottom: 0px;
}

.header__footer__tabs {
    display: flex;
    align-items: center;
    margin-right: 170px;
}

.header__footer__tabs__item__link:not(:nth-child(7)){
    margin-right: 56px;
}

/* Header footer */

/* TABS */

.tabs__header {
    margin-top: 99px;
    margin-left: 20%;
}

.tabs__buttons {
    display: flex;
    width: 1170px;
    height: 40px;
}

.tabs__buttons__item_first {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: center;
    width: 184px;
    align-items: center;
    height: 40px;
    border: 1px #86878B solid;
    border-bottom: none;

}

.tabs__buttons__item_second{
    display: flex;
    justify-content: center;
    width: 184px;
    align-items: center;
    height: 40px;
    border: 1px #86878B solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.tabs__buttons__item_thirty{
    display: flex;
    justify-content: center;
    width: 620px;
    align-items: center;
    height: 40px;
    border: 1px #86878B solid;
    border-top: none;
    border-left: none;
    border-right: none;
}
.tabs__body {
    width: 1170px;
    border:1px solid #86878B;
    border-top: none;
    padding-left: 100px;
    height: 500px;

}

.tabs__body__title {
    display: flex;
    align-items: center;
    width: 570px;
    height: 124px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 27px;
}

.tabs__body__discription {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    width: 570px;
    margin-bottom: 27px;
}

.tabs__body__img {
    display: flex;
    justify-content: flex-end;
    transform: translate(0px,-380px);
}

.tabs__body__button {
    width: 270px;
    height: 58px;
    background-color: #EC7979;
    color: white; 
    border: none;
    font-family: "open sans";
    font-weight: 600;
    font-size: 18px;
}

/* AWESOME */

.awesome {
    margin-top: 50px;
}

.awesome__title {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 400;
}

.awesome__title__line-item {
    width: 170px;
    border: 1px #EC7979 solid;
    position: absolute;
}

.awesome__title__line {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.awesome__title__discription {
    color: #86878B;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px;
}

.awesome__icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome__icons-item1 {
    margin-right: 308px;
}

.awesome__icons-item2 {
    margin-right: 308px;
}

.awesome__footer__main-items {
    display: flex;
    justify-content: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;

}

.awesome__footer__main-item:not(:last-child) {
    margin-right: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 369px;
    height: 100px;

}

.awesome__footer__main-item:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 369px;
    height: 100px;
}

.awesome__footer__items {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 8px;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
}

.awesome__footer__item:not(:last-child) {
    width: 370px;
    height: 105px;
    margin-right: 115px;
    display: flex;
    justify-content: center;
}

.awesome__footer__item:last-child {
    width: 370px;
    height: 105px;
    display: flex;
    justify-content: center;

}

/* AWESOME END */

/* PRICE */

.price {
    background-color: #F5F5F5;
    height: 900px;
    margin-bottom: 50px;
}

.price__title {
    margin-top: 108px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 400;
    height: 170px;
}

.price__title__line-item {
    width: 170px;
    border: 1px #EC7979 solid;
    position: absolute;
}

.price__title__line {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.price__title__discription {
    color: #86878B;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 59px;
}

.price__blocks {
    display: flex;
    justify-content: center;
}

.price__block_one , .price__block_two  {
    margin-right: 30px;
}

.price__block_one , .price__block_three {
    margin-top: 20px;
}

.price__block_two {
    box-shadow: 0 18px 10px rgba(51, 51, 51, 0.2);
    height: 510px;
}

.main__block  {
    width: 370px;
    height: 60px;
    background-color: #333333;
    color: white;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.second__block {
    width: 370px;
    height: 100px;
    background-color: #333333;
    color: white;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.thirty__block {
    
    width: 370px;
    height: 50px;
    background-color:#333333 ;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.other__blocks {
    color: #86878B;
    background-color: #FFFFFF;
    width: 370px;
    height: 50px;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.other__blocks:last-child {
    margin-bottom: -2px;
}

/* PRICE END */

/* REWIEW */

.rewiew__title {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 400;
    height: 170px;
}

.rewiew__title__line-item {
    width: 170px;
    border: 1px #EC7979 solid;
    position: absolute;
}

.rewiew__title__line {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.rewiew__title__discription {
    color: #86878B;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 83px;
}

.rewiews__blocks {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.block__container {
    width: 370px;
    height: 180px;
    background-color: #E2E2E2;
    border-radius: 10px;
    color: #86878B;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rewiews__block_one , .rewiews__block_two {
    margin-right: 30px;
}

.rewiews__block_treangle {
    width: 30px;
    height: 20px;
    margin-left: 70px;
    margin-bottom: 46px;
}

.rewiews__block_people {

    display: flex;

    align-items: center;
}

.name {
    margin-left: 30px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;

}

.proffesion {
    margin-left: 30px;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;


}

/* REWIEWS END */

/* STYLISH */


.stylish {
    height: 442px;
    background: url(./img/bg2full.png) no-repeat center;
    background-size: cover;
    padding-top: 50px;
    margin-bottom: 50px;
}

.stylish__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 400;
    height: 150px;
    color: white;
}

.stylish__title__line-item {
    width: 170px;
    border: 1px white solid;
    position: absolute;
}

.stylish__title__line {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.stylish__title__discription {
    color: #86878B;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 73px;
}

.stylish__download {
    color: white;
    text-decoration: none;
    width: 370px;
    height: 58px;
    background: transparent;
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;

}

.stylish__download_button {
    display: flex;
    justify-content: center;
}

.last__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 400;
    height: 150px;
    color: black;
    text-transform: uppercase;
}

.last__title__line-item {
    width: 170px;
    border: 1px #EC7979 solid;
    position: absolute;
}

.last__title__line {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.last__title__discription {
    color: #86878B;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 73px;
}